#header {
    background: #212529;
    color: #F8FFF0;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #F8FFF0;
}
.module h2, .module caption, .inline-group h2 {
    background: #212529;
}
a.section:link, a.section:visited{
    color: #F8FFF0;
}
a:link, a:visited {
    color: #21B5FF;
}
div.breadcrumbs {
    background: #38383B;
    color: #21B5FF;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #38383B;
}
.object-tools a:link, .object-tools a:visited {
    background: #38383B;
}
