{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'maps_single' %}">Одиночные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'maps_multiplayer' %}">Мультиплеер</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'maps_install' %}">Как установить?</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in maps %}
            <div class="col">
                <div class="card border-dark mb-6 h-100">
                    <img src="{{ item.photo.url }}" class="card-img-top" alt="">
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content }}</p>
                        <p class="author card-text">{{ Prefix }}{{ item.creators }}</p>
                    </div>
                    <div class="card-footer">
                        <a href='{{ item.url }}' class="btn btn-outline-dark">{{ Button }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
