{% extends 'base.html' %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row row-cols-md-3">
            {% for item in object_list %}
            <div class="col">
                <div class="card border-dark mb-3 h-100" style="width: 100%;">
                    <img src="{{ item.photo.url }}" class="card-img-top" alt="">
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content }}</p>
                        <p class="card-text">{{ Prefix }}{{ item.creators }}</p>
                    </div>
                    <div class="card-footer">
                        <a href='{{ item.url }}' class="btn btn-outline-dark">{{ Button }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}