{% extends 'base.html' %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}
<div class="row gy-3">
    <div class="accordion" id="accordionKateusta">
        <div class="accordion-item">
            <h2 class="accordion-header" id="info">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                    Что такое Kateusta?
                </button>
            </h2>
            <div id="collapseInfo" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionKateusta">
                <div class="accordion-body">
                    Это мод, направленный на изменение генерации рандомных карт и добавления специальных шаблонов.<br>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="Game">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseGame" aria-expanded="true" aria-controls="collapseGame">
                    Изменения в игре
                </button>
            </h2>
            <div id="collapseGame" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionKateusta">
                <div class="accordion-body">
                    1. Двеллинги и тюрьма больше не блокируются случайными паками существ. Их можно
                    захватить с любой клетки<br>
                    2. Исправлены ошибки в описаниях умений Штормовой ветер, Туманная завеса, Хозяин земли, добавлена
                    ценность артефактов к их описанию<br>
                    3. Убрано заклинание "землетрясение" и умения "навигация", "поступь смерти", "покровительство
                    Асхи"<br>
                    4. Изменены базовые навыки Аластора и Джалиба. У Аластора, вместо чародейства основы тьмы, а у
                    Джалиба, вместо удачи мастер артефактов.<br>
                    5. Изменены специализации Хаггеш, Вингаэля, Аргат. Хаггеш больше не даёт бонус к атб инициативе
                    кентаврам, Вингаэль добавляет 0.5% к стартовой инициативе, вместо 1%, Аргат же уменьшает штраф лишь
                    на 0.5% передвижению вместо 1%<br>
                    6. Изменения артефактов:<br>
                    Амулет некроманта +2 к защите и знанию героя, повышена цена<br>
                    Корона всевидящего +2 к защите героя, повышена цена<br>
                    Маска справедливости +1 к основным атрибутам героя<br>
                    Кандалы неизбежности +3 к нападению героя<br>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="Generate">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseGenerate" aria-expanded="true" aria-controls="collapseGenerate">
                    Изменения в генерации
                </button>
            </h2>
            <div id="collapseGenerate" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionKateusta">
                <div class="accordion-body">
                    1. Генерируются практически всё возможные комбинации паков нейтралов<br>
                    2. Ослаблена охрана у всех объектов, которые повышают атрибуты героя<br>
                    3. Для всех фракций добавлены конюшня, старейшие Cиланны, таверна, убран жертвенный алтарь<br>
                    4. Реже генерируется форт на холме и ментор, так же они имеют охрану<br>
                    5. Академия получила оазис и пирамиду<br>
                    6. У лиги чаще генерируются колодцы и волшебные ручьи<br>
                    7. В снежной локации генерируются соответственные версии зданий<br>
                    8. У орков убрана библиотека заклинаний, уменьшено value объектов повышающих маг атрибуты<br>
                    Многочисленные изменения в value можно посмотреть
                    <a href="https://1drv.ms/x/s!Aj9ogHuI6U0lgQwVZ7pRk6u0tosI?e=HhJHSO">здесь</a><br>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="Shab">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseShab" aria-expanded="true" aria-controls="collapseShab">
                    Шаблоны
                </button>
            </h2>
            <div id="collapseShab" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionKateusta">
                <div class="accordion-body">
                    <h4> Обозначения</h4><br>
                    <img class="img-fluid" src="/media/kateusta/Marks.png" alt="" ><br>
                    <h4> Шаблон для дуэлей</h4><br>
                    <img class="img-fluid" src="/media/kateusta/1vs1.png" alt=""><br>
                    <h4> Шаблон для командной игры</h4><br>
                    <img class="img-fluid" src="/media/kateusta/2vs2.png" alt=""><br>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="Author">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseAuthor" aria-expanded="true" aria-controls="collapseAuthor">
                    Авторы
                </button>
            </h2>
            <div id="collapseAuthor" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionKateusta">
                <div class="accordion-body">
                    Непосредственно создатель мода — Капуста.<br>
                    Главный ассистент, генератор идей — Кейт.<br>
                    Отдельная благодарность VeryDobro и Dracone, их моды послужили базой для Kateusta.
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-dark" href="{{ link }}" role="button">
        Скачать Kateusta V{{ version }}
    </a>
</div>
{% endblock %}
