{% extends 'base.html' %}
{% load desc_tags %}
{% load static %}

{% block css_addition %}
<link rel='stylesheet' href="{% static 'stats/css/style.css' %}">
{% endblock %}

{% block title %}
{{ Title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <table class="table table-responsive table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">{{ TablePlayerCol1 }}</th>
                <th scope="col">{{ TableCol2 }}</th>
                <th scope="col">{{ TableCol3 }}</th>
                <th scope="col">{{ TableCol4 }}</th>
            </tr>
            </thead>
            <tbody>
            {% for player in WinratePlayersStats %}
            <tr href="#offcanvas{{ player.id }}" aria-controls="offcanvasExample"
                data-bs-toggle="offcanvas" role="button" style="cursor:pointer;">
                <td><h6>{{ player.name }}</h6></td>
                <td>{{ player.games }}</td>
                <td>{{ player.winrate }}%</td>
                <td>{{ player.rating }}</td>
            </tr>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas{{ player.id }}"
                 aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvas{{ player.id }}Label">{{ player.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        {% get_reverse_order_desc player.description %}
                    </div>
                </div>
            </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-responsive table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">{{ TableFractionCol1 }}</th>
                <th scope="col">{{ TableCol2 }}</th>
                <th scope="col">{{ TableCol3 }}</th>
                <th scope="col">{{ TableCol4 }}</th>
            </tr>
            </thead>
            <tbody>
            {% for fraction in WinrateFractionsStats %}
            <tr>
            <tr href="#offcanvasfrac{{ fraction.id }}" aria-controls="offcanvasExample"
                data-bs-toggle="offcanvas" role="button">
                <td><h6>{{ fraction.name }}</h6></td>
                <td>{{ fraction.games }}</td>
                <td>{{ fraction.winrate }}%</td>
                <td>{{ fraction.rating }}</td>
            </tr>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasfrac{{ fraction.id }}"
                 aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasfrac{{ fraction.id }}Label">{{ fraction.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        {{ fraction.description|safe }}
                    </div>
                </div>
            </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
